.buttons {
    border: 2px solid rgba(38, 142, 200, .8);
    &:hover {
        border: 2px solid rgba(38, 142, 200, 1);
        color: rgb(8, 71, 106);
        background-color: rgb(232, 248, 255);
    }
    color: rgb(22, 105, 149);
}