.baseContainer {
    background: linear-gradient(
      0.6turn,
      rgba(38, 142, 200, 1)
,
      rgb(6, 34, 92)
    );
  }

  .containerBase {
    background-repeat: repeat;
    background-image: url("/double-bubble-dark.webp");
    opacity: 0.2;
    background-blend-mode: hard-light;
    background-size: 350px;
  }