.notificationContainer {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  margin-right: 10px;
}

.notificationButton {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

.notificationModal {
  position: absolute;
  top: 40px;
  right: 5px;
  background-color: rgb(35, 74, 182);
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-width: 100px;
  overflow: auto;
}

.notificationTable {
  width: 100%;
  border-collapse: collapse;
}

.notificationRow {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.notificationOptButton {
  background-color: rgb(185, 22, 164);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}
