@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

/* Global Styles */
html {
  font-family: 'Work Sans', ui-sans-serif, system-ui;
  scroll-behavior: smooth;
}

body {
  @apply m-0 p-0 bg-white text-gray-800 dark:bg-black dark:text-white;
}

a {
  @apply text-inherit no-underline;
}

* {
  @apply box-border;
}

/* Number Inputs (Remove spin buttons) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
}

.placeholder-text-xs::placeholder {
  @apply text-sm;
}
